{% extends "::base.html.twig" %}

{% block breadcrumb %}
 <ol class="breadcrumb">
 <li class="active"><a href="#">Home</a></li>
  <li>Notes</li>
</ol>
{% endblock breadcrumb %}


{% block mainContainer %}

<!-- Nav tabs -->
<ul class="nav nav-tabs">
	<li><a href="#first" data-toggle="tab">1er trimestre</a></li>
	<li><a href="#second" data-toggle="tab">2 eme trimestre</a></li>
	<li><a href="#third" data-toggle="tab">3 eme trimestre</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
	<div class="tab-pane active" id="first">
		<h3>Notes</h3>
		<table class="table table-condensed table-hover">
	    			<thead>
	    				<tr>
	    					<th>Matière</th>
	    					<th>Intitulé</th>
	    					<th>Note</th>
	    					<th>Coeff</th>
	    				</tr>
	    			</thead>
	    			<tbody>
    						{% if listeNotesPremierTrimestreParMatiere is defined %}
	    						{% for note in listeNotesPremierTrimestreParMatiere %}
	    							<tr>
			    					<td>{{ note.matiere }}</td>
			    					<td>{{ note.intitule }}</td>
			    					<td>{{ note }}</td>
			    					<td>{{ note.coefficient }}</td>
			    				</tr>
	    						{% endfor %}
	    					{% else %}
	    						<tr>
		    						<td></td>
		    						<td></td>
		    						<td></td>
		    						<td></td>
		    					</tr>
	    					{% endif %}
	    			</tbody>
	    </table>
	</div>
	<div class="tab-pane" id="second">
		<h3>Notes</h3>
		<table class="table table-condensed table-hover">
	    			<thead>
	    				<tr>
	    					<th>Matière</th>
	    					<th>Intitulé</th>
	    					<th>Note</th>
	    					<th>Coeff</th>
	    				</tr>
	    			</thead>
	    			<tbody>
    						{% if listeNotesDeuxiemeTrimestreParMatiere is defined %}
	    						{% for note in listeNotesDeuxiemeTrimestreParMatiere %}
	    							<tr>
			    					<td>{{ note.matiere }}</td>
			    					<td>{{ note.intitule }}</td>
			    					<td>{{ note }}</td>
			    					<td>{{ note.coefficient }}</td>
			    				</tr>
	    						{% endfor %}
	    					{% else %}
	    						<tr>
		    						<td></td>
		    						<td></td>
		    						<td></td>
		    						<td></td>
		    					</tr>
	    					{% endif %}
	    			</tbody>
	    </table>
	</div>
	<div class="tab-pane" id="third">
		<h3>Notes</h3>
		<table class="table table-condensed table-hover">
	    			<thead>
	    				<tr>
	    					<th>Matière</th>
	    					<th>Intitulé</th>
	    					<th>Note</th>
	    					<th>Coeff</th>
	    				</tr>
	    			</thead>
	    			<tbody>
    						{% if listeNotesTroisiemeTrimestreParMatiere is defined %}
	    						{% for note in listeNotesTroisiemeTrimestreParMatiere %}
	    							<tr>
			    					<td>{{ note.matiere }}</td>
			    					<td>{{ note.intitule }}</td>
			    					<td>{{ note }}</td>
			    					<td>{{ note.coefficient }}</td>
			    				</tr>
	    						{% endfor %}
	    					{% else %}
	    						<tr>
		    						<td></td>
		    						<td></td>
		    						<td></td>
		    						<td></td>
		    					</tr>
	    					{% endif %}
	    			</tbody>
	    </table>
	</div>
</div>
{% endblock mainContainer %}
