<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Athena - {% block title %}{% endblock title %}</title>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    {% block javascripts %} {% endblock javascripts %}
    {% block styles %}

    <link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bootstrap/css/offcanvas.css') }}" rel="stylesheet">
    <!-- Style du gif de chargement -->
	<style type="text/css">
	.spinner {
    	position: fixed;
    	top: 60%;
    	left: 50%;
    	margin-left: -150px; /* half width of the spinner gif */
    	margin-top: -150px; /* half height of the spinner gif */
    	text-align:center;
    	z-index:1234;
    	overflow: auto;
    	width: 300px; /* width of the spinner gif */
    	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
	}
	</style>
	{% block styles %}{% endblock styles %}
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->



  </head>

  <body>
  {% block fullbodypage %}
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('ath_page_homepage') }}">Athena</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('ath_page_homepage') }}">Accueil</a></li>
            <li><a href="#about">A propos</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bonjour {{ app.user.username }}</a>
                <ul class="dropdown-menu">
                  <li><a href="{{path('fos_user_profile_show')}}">Profil</a></li>
                </ul>
              {% else %}
                <a href="{{ path('fos_user_security_login') }}">Connexion</a>
              {% endif %}
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% endif %}
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </div><!-- /.navbar -->

    <div class="container">
    	<div id="spinner" class="spinner" style="display:none;">
    		<img id="img-spinner" src="{{ asset('img/spinner.gif') }}" alt="Loading"/>
		</div>
            {% block container %}
                <div class="row row-offcanvas row-offcanvas-right">
					<!-- Menu deroulant -->
			        <div class="col-sm-3 col-md-3">
			            <div class="panel-group" id="accordion">
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-th">
			                            </span>Content</a>
			                        </h4>
			                    </div>
			                    <div id="collapseOne" class="panel-collapse collapse in">
			                        <div class="panel-body">
			                            <table class="table">
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#">Articles</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#">News</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#">Newsletters</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="#">Comments</a>
			                                        <span class="badge">42</span>
			                                    </td>
			                                </tr>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-book">
			                            </span>Cours</a>
			                        </h4>
			                    </div>
			                    <div id="collapseTwo" class="panel-collapse collapse">
			                        <div class="panel-body">
			                        	{{render(controller('AthPageBundle:Page:menu')) }}
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-envelope">
			                            </span>Messagerie</a>
			                        </h4>
			                    </div>
			                    <div id="collapseThree" class="panel-collapse collapse">
			                        <div class="panel-body">
			                            <table class="table">
			                                <tr>
			                                    <td>
			                                        <a href="#">Boite de messagerie</a>
			                                        <span class="badge">42</span>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <a href="#">Notifications</a> <span class="label label-info">5</span>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <a href="#">Webmail</a>
			                                    </td>
			                                </tr>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                    <div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-briefcase">
			                            </span>Notes</a>
			                        </h4>
			                    </div>
			                    <div id="collapseThree" class="panel-collapse collapse">
			                        <div class="panel-body">
			                            <table class="table">
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
			                                    </td>
			                                </tr>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                	<div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-calendar">
			                            </span>Vie scolaire</a>
			                        </h4>
			                    </div>
			                    <div id="collapseFour" class="panel-collapse collapse">
			                        <div class="panel-body">
			                            <table class="table">
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-usd"></span><a href="#">Emploi du temps</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-user"></span><a href="#">Agenda</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-tasks"></span><a href="#">Professeurs absents</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="#">Carnet de liaison</a>
			                                    </td>
			                                </tr>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                	<div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><span class="glyphicon glyphicon-user">
			                            </span>Parent</a>
			                        </h4>
			                    </div>
			                    <div id="collapseFive" class="panel-collapse collapse">
			                        <div class="panel-body">
			                            <table class="table">
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-usd"></span><a href="#">Absences/Retards</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-user"></span><a href="#">Rendez-vous</a>
			                                    </td>
			                                </tr>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			                <div class="panel panel-default">
			                	<div class="panel-heading">
			                        <h4 class="panel-title">
			                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><span class="glyphicon glyphicon-wrench">
			                            </span>Administration</a>
			                        </h4>
			                    </div>
			                    <div id="collapseSix" class="panel-collapse collapse">
			                        <div class="panel-body">
			                            <table class="table">
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-plus"></span><a href="{{ path('student_registration') }}">Créer étudiant</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                    <td>
			                                        <span class="glyphicon glyphicon-plus"></span><a href="{{ path('professor_registration') }}">Créer professeur</a>
			                                    </td>
			                                </tr>
			                                <tr>
			                                	<td>
			                                		<span class="glyphicon glyphicon-plus"></span><a href="{{ path('administrator_registration') }}">Créer administrateur</a>
			                                	</td>
			                                </tr>
			                                <tr>
			                                	<td>
			                                		<span class="glyphicon glyphicon-cog"></span><a href="{{ path('ath_classe_show') }}">Gérer les classes</a>
			                                	</td>
			                                </tr>
                                      <tr>
                                        <td>
                                          <span class="glyphicon glyphicon-cog"></span><a href="{{ path('ath_administration_users') }}">Gérer les utilisateurs</a>
                                        </td>
                                      </tr>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
					<!-- Fin du Menu deroulant -->


                    <div class="col-xs-12 col-sm-9">
                    	<!-- Breadcrumb -->
                    	<div class="row">
                    		{% block breadcrumb %}
                    		<ol class="breadcrumb">
  								<li class="active"><a href="#">Home</a></li>
							</ol>
							{% endblock breadcrumb %}
                    	</div>
                    	<!-- Fin du breadcrumb -->

                    	<div class="row">
                    	<div id="mainContainer">
                    		{% block mainContainer %}
                    		<!-- Exemple de News -->
                    		<!-- Creer un controleur qui load les dernieres news dans une div scrollable-->
							<div class="col-sm-8">
							    <div class="row">
							      <div class="col-sm-8">
							        <h4><strong><a href="#">Title of the post</a></strong></h4>
							      </div>
							    </div>
							    <div class="row">
							      <div class="col-sm-2">
							        <a href="#" class="thumbnail">
							            <img src="http://placehold.it/260x180" alt="">
							        </a>
							      </div>
							      <div class="col-sm-6">
							        <p>
							          Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
							        </p>
							        <p><a class="btn" href="#">Read more</a></p>
							      </div>
							    </div>
							    <div class="row">
							      <div class="col-sm-8">
							        <p></p>
							        <p>
							          <i class="glyphicon glyphicon-user"></i> by <a href="#">John</a>
							          | <i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012
							          | <i class="glyphicon glyphicon-comment"></i> <a href="#">3 Comments</a>
							          | <i class="glyphicon glyphicon-share"></i> <a href="#">39 Shares</a>
							          | <i class="glyphicon glyphicon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
							          <a href="#"><span class="label label-info">Bootstrap</span></a>
							          <a href="#"><span class="label label-info">UI</span></a>
							          <a href="#"><span class="label label-info">growth</span></a>
							        </p>
							      </div>
							    </div>
							  </div>
							<hr>
							<div class="col-sm-8">
							    <div class="row">
							      <div class="col-sm-8">
							        <h4><strong><a href="#">Title of the post</a></strong></h4>
							      </div>
							    </div>
							    <div class="row">
							      <div class="col-sm-2">
							        <a href="#" class="thumbnail">
							            <img src="http://placehold.it/260x180" alt="">
							        </a>
							      </div>
							      <div class="col-sm-6">
							        <p>
							          Lorem ipsum dolor sit amet, id nec conceptam conclusionemque. Et eam tation option. Utinam salutatus ex eum. Ne mea dicit tibique facilisi, ea mei omittam explicari conclusionemque, ad nobis propriae quaerendum sea.
							        </p>
							        <p><a class="btn" href="#">Read more</a></p>
							      </div>
							    </div>
							    <div class="row">
							      <div class="col-sm-8">
							        <p></p>
							        <p>
							          <i class="glyphicon glyphicon-user"></i> by <a href="#">John</a>
							          | <i class="glyphicon glyphicon-calendar"></i> Sept 16th, 2012
							          | <i class="glyphicon glyphicon-comment"></i> <a href="#">3 Comments</a>
							          | <i class="glyphicon glyphicon-share"></i> <a href="#">39 Shares</a>
							          | <i class="glyphicon glyphicon-tags"></i> Tags : <a href="#"><span class="label label-info">Snipp</span></a>
							          <a href="#"><span class="label label-info">Bootstrap</span></a>
							          <a href="#"><span class="label label-info">UI</span></a>
							          <a href="#"><span class="label label-info">growth</span></a>
							        </p>
							      </div>
							    </div>
							  </div>
							<hr>
							{% endblock mainContainer %}
                    	</div>
                    </div>
                </div>
                {% endblock container %}


    </div><!--/.container-->
<hr>

      <footer>
        <p>&copy; Athena 2013</p>
      </footer>

{% endblock fullbodypage %}
    <!-- Bootstrap core JavaScript -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/offcanvas.js') }}"></script>

    <!-- Javascript gif de chargement -->
    <script type="text/javascript">
		$(document).on('ajaxSend', function(){
	    	$("#spinner").show();
		}).on('ajaxComplete', function(){
	    	$("#spinner").hide();
		});
	</script>

  {% block footer_js %}{% endblock footer_js %}

  </body>
</html>
