{% extends "::base.html.twig" %}

{% block title %}Création Administrateur{% endblock title%}

{% block content %}

  {% trans_default_domain 'FOSUserBundle' %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
  {% endfor %}

  <form action="{{ path('administrator_registration') }}" {{ form_enctype(form) }} method="POST" role="form" class="form-horizontal">

    <div class="form-group">
      {{ form_label(form.email, "Adresse e-mail", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.username, "Login", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.plainPassword.first, "Mot de passe", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.plainPassword.second, "Vérification", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.lastname, "Nom", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.lastname, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.firstname, "Prénom", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.firstname, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.birthdate, "Date de naissance", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.phone, "Téléphone", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.address, "Adresse", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.zipcode, "Code postal", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.zipcode, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_label(form.city, "Ville", { 'label_attr': { 'class': 'col-sm-2 control-label' } }) }}
      <div class="col-sm-10">
        {{ form_widget(form.city, { 'attr': {'class': 'form-control'} }) }}
      </div>
    </div>

    <div>
      <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
  </form>

{% endblock content %}

{% block nav_right_links %}
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
{% endblock nav_right_links %}

