{% extends "::base.html.twig" %}

{% block title %}Création Administrateur{% endblock title%}

{% block content %}

  {% trans_default_domain 'FOSUserBundle' %}

  {# On affiche les messages flash que définissent les contrôleurs du bundle #}
  {% for key, message in app.session.flashbag.all() %}
    <div class="alert alert-{{ key }}">
      {{ message|trans({}, 'FOSUserBundle') }}
    </div>
  {% endfor %}

  <form action="{{ path('administrator_registration') }}" {{ form_enctype(form) }} method="POST">
    {{ form_widget(form) }}
    <div>
      <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
  </form>

{% endblock content %}

{% block nav_right_links %}
  <a href="#" class="list-group-item">Link</a>
  <a href="#" class="list-group-item">Link</a>
{% endblock nav_right_links %}

