{% extends "::base.html.twig" %}

{% block title %}Détail classe{% endblock title%}

{% block content %}
<h1>Classe {{ classe }}</h1>
<!-- Modal ajout d'étudiant -->
<div class="row">
	<div class="modal well fade col-lg-4 col-lg-offset-4" id="modalAjoutEtudiant">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal">×</button>
    		<h3>Ajout d'étudiant</h3>
    	</div>
    	<div class="modal-body">
    		
    			{{ form_widget(form) }}
    		
    	</div>
    	<div class="modal-footer">
    		<a href="#" class="btn" data-dismiss="modal">Close</a>
    		<a href="#" class="btn btn-primary">Save changes</a>
    	</div>
	</div>
</div>

<!-- Modal ajout de matière -->
<div class="row">
	<div class="modal well fade col-lg-4 col-lg-offset-4" id="modalAjoutMatiere">
    	<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal">×</button>
    		<h3>Ajout de matière</h3>
    	</div>
    	<div class="modal-body">
    		<!-- path ajouter et fonction d ajout a créer -->
    		
    	</div>
    	<div class="modal-footer">
    		<a href="#" class="btn" data-dismiss="modal">Close</a>
    		<a href="#" class="btn btn-primary">Save changes</a>
    	</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-3">
			<div class="well">
    			<h3>Etudiants</h3>
    			<form action="{{ path('ath_student_del') }}" method="post">
    				<select id="listEtudiant" name="listEtudiant" class="form-control" multiple="multiple" rows=2>
    					{% for etudiant in listeEtudiants %}
        					<option value={{ etudiant.id }} 
        					{% if loop.first %}
        						selected="selected"
        					{% endif %}
        					>{{ etudiant}}</option>
						{% endfor %}    
    				</select>
    				<br/>
     				<div class="btn-group">
				  		<button type="button" class="btn btn-default" data-toggle="modal" href="#modalAjoutEtudiant">+</button>
				  		<button type="submit" class="btn btn-default">-</button>
					</div>
				</form>
			</div>
			{% for flashMessage in app.session.flashbag.get('notice') %}
    				<div class="flash-notice">
        				{{ flashMessage }}
    				</div>
			{% endfor %}
	</div>
	<div class="col-lg-3">
		<div class="well">
    		<h3>Matières</h3>
    		<form action="{{ path('ath_discipline_del') }}" method="post">
    			<select id="listMatiere" class="form-control" multiple="multiple" rows=2> 
    				{% for matiere in listeMatieres %}
        				<option value={{ matiere.id }} 
        				{% if loop.first %}
        					selected="selected"
        				{% endif %}
        				>{{ matiere }}</option>
					{% endfor %}       
    			</select>
    			<br/>
    			<div class="btn-group">
					<button type="button" class="btn btn-default" data-toggle="modal" href="#modalAjoutMatiere">+</button>
					<button type="button" class="btn btn-default">-</button>
				</div>
			</form>
		</div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
    				<div class="flash-notice">
        				{{ flashMessage }}
    				</div>
		{% endfor %}
	</div>
	<div class="col-lg-3">
		<div class="well">
    		<h3>Professeurs</h3>
    		<select id="listMatiere" class="form-control" multiple="multiple" rows=2> 
    			{% for professeur in listeProfesseurs %}
        			<option value={{ professeur.id }} selected="selected">{{ professeur }}</option>
				{% endfor %}       
    		</select>
    		<br/>
    		<div class="btn-group">
			  <button type="button" class="btn btn-default" data-toggle="modal" href="#modalAjoutProfesseur">+</button>
			  <button type="button" class="btn btn-default" id="modalSupprimerProfesseur" onClick="fonctionDeSuppression(event)">-</button>
			</div>
		</div>
		{% for flashMessage in app.session.flashbag.get('notice') %}
    				<div class="flash-notice">
        				{{ flashMessage }}
    				</div>
		{% endfor %}
	</div>
</div><!-- row -->




{% endblock content %}


