<table class="table">
{# si listeClasses est iterable, l user connecté est n'est pas un STUDENT#}
{% if is_granted('ROLE_ADMINISTRATOR') or is_granted('ROLE_PROFESSOR') %}
	{% if listeClasses is not empty %}
		{% for classe in listeClasses %}
			<tr>
				<th>
					{{ classe }}
				</th>
			</tr>
			{% for discipline in classe.level.disciplines %}
				<tr>
					<td>
						<a href="{{ path('ath_cours_show',{id: discipline.id}) }}">{{ discipline }}</a>
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	{% else %}
		<tr>
			<td>Aucune classe</td>
		</tr>
	{% endif %}

{% else %}
{#l'user connecté est est un STUDENT listeClasses contient qu'une seule classe#}
		{% if listeClasses is not null %}
		<tr>
			<th>
				{{ listeClasses }}
			</th>
		</tr>

		{% for discipline in listeClasses.level.disciplines %}
			<tr>
				<td>
					<a href="{{ path('ath_cours_show',{id: discipline.id}) }}">{{ discipline }}</a>
				</td>
			</tr>
		{% endfor %}
		{% else %}
		<tr>
			<td>Aucune classe</td>
		</tr>
		{% endif %}
{% endif %}
</table>
